<table
  mat-table
  *ngIf="games$ | async as games; else noData"
  [dataSource]="games"
  class="mat-elevation-z8"
>
  <!-- Game Number Column -->
  <ng-container matColumnDef="gameNum">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let game; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <!-- Game Type Column -->
  <ng-container matColumnDef="gameType">
    <th mat-header-cell *matHeaderCellDef>Game Type</th>
    <td mat-cell *matCellDef="let game">{{ game.gameType }}</td>
  </ng-container>

  <!-- Result Column -->
  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef>Result</th>
    <td mat-cell *matCellDef="let game">{{ game.result }}</td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let game">
      {{ game.date | date : "dd/MM/yyyy" }}
    </td>
  </ng-container>

  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Data Rows -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<ng-template #noData>
  <p>No players to show</p>
</ng-template>
