<div class="table-container" *ngIf="dataSource | async as dataSource">
  <table mat-table [dataSource]="dataSource.players" class="mat-elevation-z8">
    <!-- Player Name Column -->
    <ng-container matColumnDef="playerName">
      <th mat-header-cell *matHeaderCellDef>Player Name</th>
      <td mat-cell *matCellDef="let element">{{ element.playerName }}</td>
    </ng-container>

    <!-- Balance Column -->
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>Balance</th>
      <td mat-cell *matCellDef="let element">{{ element.balance }}</td>
    </ng-container>

    <!-- Weekly Rake Column -->
    <ng-container matColumnDef="weeklyRake">
      <th mat-header-cell *matHeaderCellDef>Weekly Rake</th>
      <td mat-cell *matCellDef="let element">
        {{ element.weeklyRake | number }}
      </td>
    </ng-container>

    <!-- Agent Rake Percentage Column -->
    <ng-container matColumnDef="agentRakePercentage">
      <th mat-header-cell *matHeaderCellDef>Agent Rake %</th>
      <td mat-cell *matCellDef="let element">
        {{ element.agentRakePercentage | percent }}
      </td>
    </ng-container>

    <!-- Agent Actual Rake Column -->
    <ng-container matColumnDef="agentActualRake">
      <th mat-header-cell *matHeaderCellDef>Agent Actual Rake</th>
      <td mat-cell *matCellDef="let element">
        {{ element.agentActualRake | currency }}
      </td>
    </ng-container>

    <!-- Table Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Table Data Row -->
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="navigateToPlayer(row)"
    ></tr>

    <!-- Sum Row -->
    <tr>
      <td mat-cell *matCellDef="let player" colspan="1">
        <strong>Total</strong>
      </td>
      <td mat-cell *matCellDef="let player">
        {{ getTotal(dataSource.players, "balance") | currency }}
      </td>
      <td mat-cell *matCellDef="let player">
        {{ getTotal(dataSource.players, "weeklyRake") | currency }}
      </td>
      <td mat-cell *matCellDef="let player"></td>
      <!-- Empty for Rake Percentage -->
      <td mat-cell *matCellDef="let player">
        {{
          getTotalAgentShare(dataSource.players, dataSource.rakePercentage)
            | currency
        }}
      </td>
    </tr>
  </table>
</div>
