<form class="form" [formGroup]="incidentFormGroup" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter incident name" />
    <mat-error *ngIf="incidentFormGroup.get('name')?.hasError('required')">
      Name is required.
    </mat-error>
    <mat-error *ngIf="incidentFormGroup.get('name')?.hasError('maxlength')">
      Name cannot be more than 50 characters long.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Color: </mat-label>
    <input
      matInput
      formControlName="color"
      placeholder="Enter color hex code"
    />
    <mat-hint
      >This is the color:
      <span
        [innerHTML]="incidentFormGroup.get('color')?.value | colorSquare"
      ></span
    ></mat-hint>
    <mat-error *ngIf="incidentFormGroup.get('color')?.hasError('required')">
      Color is required.
    </mat-error>
    <mat-error
      *ngIf="incidentFormGroup.get('color')?.hasError('invalidHexColor')"
    >
      Invalid hex color code.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Created By</mat-label>
    <input
      matInput
      formControlName="createdBy"
      placeholder="Enter creator's name"
    />
    <mat-error *ngIf="incidentFormGroup.get('createdBy')?.hasError('required')">
      Created By is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Create Date</mat-label>
    <input
      matInput
      [matDatepicker]="createDatePicker"
      formControlName="createDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="createDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker touchUi #createDatePicker></mat-datepicker>
    <mat-error
      *ngIf="incidentFormGroup.get('createDate')?.hasError('required')"
    >
      Create Date is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Updated Date</mat-label>
    <input
      matInput
      [matDatepicker]="updatedDatePicker"
      formControlName="updatedDated"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="updatedDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker touchUi #updatedDatePicker></mat-datepicker>
    <mat-error
      *ngIf="incidentFormGroup.get('updatedDated')?.hasError('required')"
    >
      Updated Date is required.
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="incidentFormGroup.invalid"
  >
    Submit
  </button>
</form>
