<ng-container *ngIf="player">
  <div class="balance-row">
    <div class="balance-item total-balance">
      <b>Total Balance:*does not include weekly balance</b>
      {{ player.totalBalance || 0 }}
    </div>
    <div class="balance-item weekly-balance">
      <b>Weekly Balance:</b> {{ player.weeklyBalance || 0 }}
    </div>
    <ng-container *ngIf="userType !== 'player'">
      <div class="balance-item weekly-balance">
        <b>Weekly Rake:</b> {{ player["weeklyRake"] || 0 }}
      </div>
    </ng-container>
  </div>

  <div class="player-info">
    <div class="info-item"><strong>Name:</strong> {{ player.name }}</div>
    <div class="info-item">
      <strong>Nickname:</strong> {{ player.nickname }}
    </div>
    <ng-container *ngIf="userType === 'player'">
      <div class="info-item">
        <strong>Agent Phone Number:</strong> {{ player.agentPhoneNumber }}
      </div>
      <div class="info-item">
        <strong>Agent Name:</strong> {{ player.agentName }}
      </div>
    </ng-container>
  </div>
</ng-container>
