.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 200px;
  background: #fafafa;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.menu-button {
  margin-right: 20px;
}

.content {
  padding: 20px;
  box-sizing: border-box  ;
  height: calc(100% - 64px); /* Adjust height to account for the toolbar */
  overflow: auto;
}

.active-link {
  font-weight: bold;
  color: #3f51b5;
}
.hidden {
  display: none; /* or any style that makes the sidenav hidden */
}
.mat-drawer-content {
  overflow: hidden;
}
