<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        (click)="navigate('players')"
        routerLinkActive="active-link"
        >Players</a
      >
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        (click)="navigate('bankView')"
        routerLinkActive="active-link"
        >Bank View</a
      >
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        (click)="navigate('gamesView')"
        routerLinkActive="active-link"
        >Games View</a
      >
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        (click)="navigate('expenses')"
        routerLinkActive="active-link"
        >Expenses</a
      >
    </mat-nav-list>
    <mat-nav-list>
      <a
        mat-list-item
        (click)="navigate('payments')"
        routerLinkActive="active-link"
        >Payments</a
      >
    </mat-nav-list>
    <mat-nav-list>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select
          [(value)]="selectDate"
          (selectionChange)="onSelectionChange($event)"
        >
          <mat-option
            *ngFor="let option of dateSelectOptions"
            [value]="option.value"
          >
            {{ option.label | date : "dd/MM/yyyy" }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Headline area -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application</span>
    </mat-toolbar>

    <!-- Router outlet -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
