<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>username</h2>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>username</mat-label>
        <input matInput formControlName="username" placeholder="Enter your username" required />
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            username is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter your password" required />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Submit
      </button>
    </form>
  </div>
  