<form [formGroup]="playerFormGroup" (ngSubmit)="onSubmit()" class="user-form">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter Name" />
    <mat-error *ngIf="playerFormGroup.get('name')?.hasError('required')">
      Name is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nickname</mat-label>
    <input matInput formControlName="nickname" placeholder="Enter Nickname" />
    <mat-error *ngIf="playerFormGroup.get('nickname')?.hasError('required')">
      Nickname is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Agent Phone Number</mat-label>
    <input
      matInput
      formControlName="agentPhoneNumber"
      placeholder="Enter Agent Phone Number"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Agent Name</mat-label>
    <input
      matInput
      formControlName="agentName"
      placeholder="Enter Agent Name"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Weekly Balance</mat-label>
    <input
      matInput
      formControlName="weeklyBalance"
      type="number"
      placeholder="Enter Weekly Balance"
    />
    <mat-error
      *ngIf="playerFormGroup.get('weeklyBalance')?.hasError('required')"
    >
      Weekly Balance is required.
    </mat-error>
    <mat-error *ngIf="playerFormGroup.get('weeklyBalance')?.hasError('min')">
      Weekly Balance must be a positive number.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Total Balance</mat-label>
    <input
      matInput
      formControlName="totalBalance"
      type="number"
      placeholder="Enter Total Balance"
    />
    <mat-error
      *ngIf="playerFormGroup.get('totalBalance')?.hasError('required')"
    >
      Total Balance is required.
    </mat-error>
    <mat-error *ngIf="playerFormGroup.get('totalBalance')?.hasError('min')">
      Total Balance must be a positive number.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Weekly Rake</mat-label>
    <input
      matInput
      formControlName="weeklyRake"
      type="number"
      placeholder="Enter Weekly Rake"
    />
    <mat-error *ngIf="playerFormGroup.get('weeklyRake')?.hasError('required')">
      Weekly Rake is required.
    </mat-error>
    <mat-error *ngIf="playerFormGroup.get('weeklyRake')?.hasError('min')">
      Weekly Rake must be a positive number.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>User Type</mat-label>
    <input matInput formControlName="userType" placeholder="Enter User Type" />
    <mat-error *ngIf="playerFormGroup.get('userType')?.hasError('required')">
      User Type is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input
      matInput
      formControlName="firstName"
      placeholder="Enter First Name"
    />
    <mat-error *ngIf="playerFormGroup.get('firstName')?.hasError('required')">
      First Name is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Family Name</mat-label>
    <input
      matInput
      formControlName="familyName"
      placeholder="Enter Family Name"
    />
    <mat-error *ngIf="playerFormGroup.get('familyName')?.hasError('required')">
      Family Name is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input
      matInput
      formControlName="phoneNumber"
      placeholder="Enter Phone Number"
    />
    <mat-error *ngIf="playerFormGroup.get('phoneNumber')?.hasError('required')">
      Phone Number is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone ID</mat-label>
    <input matInput formControlName="phoneId" placeholder="Enter Phone ID" />
    <mat-error *ngIf="playerFormGroup.get('phoneId')?.hasError('required')">
      Phone ID is required.
    </mat-error>
  </mat-form-field>

  <app-player-autocomplete-input [control]="agentIdControl" />
  <app-player-autocomplete-input [control]="adminIdControl" />

  <mat-form-field appearance="fill">
    <mat-label>Created Date</mat-label>
    <input
      matInput
      formControlName="createdDate"
      [matDatepicker]="createdDatePicker"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="createdDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #createdDatePicker></mat-datepicker>
    <mat-error *ngIf="playerFormGroup.get('createdDate')?.hasError('required')">
      Created Date is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Updated Date</mat-label>
    <input
      matInput
      formControlName="updatedDate"
      [matDatepicker]="updatedDatePicker"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="updatedDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #updatedDatePicker></mat-datepicker>
    <mat-error *ngIf="playerFormGroup.get('updatedDate')?.hasError('required')">
      Updated Date is required.
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="playerFormGroup.invalid"
  >
    Submit
  </button>
</form>
